header img#contactHero{
    text-align: center;
    display: block;
    margin: 0 auto;
    height: 25vh;
    width: 25vw;
}

section#contactFormContainer {
    width: 75vw;
    height: 50vh;
    margin: 0 auto;
    border: 1px solid #3d3535;
    border-radius: 12px;
    padding: 20px;
}

form input#email {
    display: block;
    margin-bottom: 20px;
    border-radius: 12px;
    
}