header img#contactHero{
    text-align: center;
    display: block;
    margin: 0 auto;
    height: 25vh;
    width: 25vw;
}

section#contactFormContainer {
    width: 60vw;
    height: 50vh;
    margin: 0 auto;
    border: .5px solid #3d3535;
    border-radius: 12px;
    padding: 20px;
}

form input#email {
    display: block;
    width: 400px;
    margin: 20px auto;
    border-radius: 12px;
    /* font:  'Montserrat', sans-serif; */

}

form textarea#message {
    display: block;
    margin: 20px auto;
    width: 400px;
}

form input#formSubmitBtn {
    float: right;
}

form input#formSubmitBtn:hover {
    background-color: #3d3535; 
    color: #ffffff;
    border-color: #ffffff;
    
}
