nav {
    height: 100px;
    background-color: red;
}

#logo {
    height: 100px;
    fill: #3C3434;
    position: absolute;
    left: 20px; top: 0px;
}

#menu {
    height: 20px;
    padding: 20px 30px 40px 40px;
    float: right;
}

#hidden {
    width: 100px;
    height: 100vh;
    background-color: #3C3434;
    position: absolute;
    top: 0px; right: 0%;
    z-index: 2; 
}

#hero {
    display: block;
    margin:  60px auto;
    height: 40vh;
    width: 40vw;
}