header img#portfolioHero{
    text-align: center;
    display: block;
    margin:  60px auto;
    height: 40vh;
    width: 40vw;
}

#workSection{
    margin-bottom: 120px;
}

.img-container {
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 10px;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

